.about-banner {
    width: 500px;
    padding: 0;
    margin: 100px 0 0 50%;
    transform: translate(-50%);
    position: relative;
    display: block;
}

.about-desc {
    width: 350px;
    margin-top: 0;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 16px;
}

.about-linktree, .about-email {
    color: dodgerblue;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.about-linktree:hover, .about-email:hover {
    color: #0058ab;
}

@media screen and (max-width: 510px) {
    .about-banner {
        width: 100%;
        margin-right: 0;
        padding: 0;
    }
}