.title {
    font-size: 45px;
    text-align: center;
    margin-top: 120px;
    font-weight: 800;
    margin-bottom: 0;
}

.subtitle {
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-weight: 500;
}

.section-title {
    margin-top: 25px;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
}

.avatar-section {
    text-align: center;
    margin: 0;
}

.file-input {
    display: none;
}

#banner-img {
    width: 100px;
    border-radius: 6px;
}

.avatar-text {
    display: inline-block;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    font-weight: 500;
    text-align: start;
    line-height: 25px;
    position: relative;
    vertical-align: 40%;
}

.avatar-size {
    font-size: 15px;
    font-weight: 400;
}

.profile-picture {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    transition: 0.2s;
    cursor: pointer;
    background-position: center center;
    background-size: cover;
}

.profile-picture:hover {
    filter: brightness(0.5);
}

.profile-picture:before:hover {
    content: "hey"
}

.section-input {
    position: relative;
    left: 0;
    margin: 0;
}

.section-input::placeholder {
    color: #575757 !important;
}

.section-input-name {
    margin-right: 250px;
    margin-bottom: 4px;
    white-space: nowrap;
}

.section-input-name[data-name-content="email"] {
    margin-right: 275px;
}

.section-input-name[data-name-content="bio"] {
    margin-right: 290px;
}

.section-input-name[data-name-content="github"] {
    margin-right: 180px;
}

.section-inputs {
    justify-items: center;
    justify-content: center;
}

.save-btn {
    margin-top: 20px;
}

.profile-error-txt {
    color: red;
    font-size: 15px;
    font-weight: 600;
    display: none;
}

.interest-center {
    text-align: center;
}

.interest {
    display: inline-block;
    /*background-color: #282828;*/
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    color: white;
    text-align: center;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.interest-toggled {
    background-color: #fff !important;
    color: #000 !important;
}

.pwd-section-title {
    margin-bottom: -15px;
}

@media screen and (min-width: 780px) {
    .acc-side-one {
        display: inline-block;
        width: 325px;
        margin-right: 70px;
        position: relative;
        top: -75px;
    }

    .acc-side-two {
        display: inline-block;
    }

    .acc-settings {
        text-align: center;
    }
}

@media (hover: hover) {
    /*.interest:hover {*/
    /*    background-color: #fff;*/
    /*    color: #000;*/
    /*}*/
    /*.interest-toggled:hover {*/
    /*    background: rgba(255, 255, 255, 0) !important;*/
    /*    color: #fff !important;*/
    /*}*/
}

.section-subtitle {
    font-size: 13px;
    color: #b2b2b2;
    text-align: center;
    margin-top: -8px;
}

@media screen and (max-width: 500px) {
    .interest {
        margin-left: 5px;
        padding: 7px 12px;
        border-radius: 35px;
        margin-top: 5px;
        font-size: 12px;

    }
}