.code-card-title {
    font-size: 23px;
}

.code-card {
    background-color: rgb(49, 46, 129);
    background-image: radial-gradient(at 22% 68%, rgb(0, 0, 0) 0, transparent 97%), radial-gradient(at 96% 5%, rgb(24, 41, 227) 0, transparent 84%), radial-gradient(at 17% 34%, rgb(55, 48, 163) 0, transparent 42%), radial-gradient(at 33% 33%, rgb(28, 25, 23) 0, transparent 62%), radial-gradient(at 71% 34%, rgb(30, 58, 138) 0, transparent 50%), radial-gradient(at 14% 98%, rgb(67, 56, 202) 0, transparent 57%);
    background-size: 1%;
    border-radius: 12px;
}

.code-read-more {
    bottom: 0 !important;
}

@keyframes bg-true-infinite {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 1000% 1000%;
    }
}

.code-card:hover {
    animation: bg-true-infinite 30s infinite linear !important;
}

.code-description {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.code-description::-webkit-scrollbar {
    display: none;
}