.name-input {
    font-size: 70px;
    font-weight: bold;
    background-color: transparent;
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    outline: 0;
    color: white;
    width: 100%;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

.name-input::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.name-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.desc-input {
    font-size: 35px;
    font-weight: bold;
    background-color: transparent;
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    outline: 0;
    color: white;
    width: 100%;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

.desc-input::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.desc-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.img-input {
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    outline: 0;
    color: white;
    width: 100%;
    padding: 0;
}

.img-input::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.img-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}


.file-input {
    background-color: #1e1e1e;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.2s;
    margin-left: 3px;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    font-size: 14px;
    color: white;
}

.file-input:hover {
    background-color: white;
    color: #1e1e1e;
}

.publish-btn {
    width:calc(100vw - 20px);
    height:50px;
    background-color:#282828;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    top: 440px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    font-family: 'JetBrains Mono', monospace;
}

/*.publish-btn:before {*/
/*    content: "PUBLISH PACKAGE";*/
/*}*/

/*.publish-btn:hover:before {*/
/*    content: ">> PUBLISH PACKAGE <<";*/
/*}*/

.publish-btn:hover {
    background-color: #fff;
    color: #000
}


.textarea-long {
    resize: none;
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: white;
}

.textarea-long::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.textarea-long:focus {
    outline: none;
}

.md-editor-container {
    margin-bottom: 20px;
}

.file-input-icon {
    position: relative;
    top: 2px;
    right: 6px;
}

.upload-section {
    overflow: scroll;
    white-space: nowrap;
    height: 50px;
    padding-top: 15px;
    margin-top: -20px;
    margin-bottom: -25px;
}

@media screen and (min-width: 390px) {
    .publish-btn {
        width: 370px;
    }

    /*.centered {*/
    /*    margin-left: calc(50vw - 185px);*/
    /*    width: 370px;*/
    /*}*/
    .centered {
        margin-left: 15px;
    }
}