.name-input {
    font-size: 70px;
    font-weight: bold;
    background-color: transparent;
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    outline: 0;
    color: white;
    width: 100%;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

.name-input::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.name-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.desc-input {
    font-size: 35px;
    font-weight: bold;
    background-color: transparent;
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    outline: 0;
    color: white;
    width: 100%;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

.desc-input::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.desc-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.img-input {
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    outline: 0;
    color: white;
    width: 100%;
    padding: 0;
}

.img-input::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.img-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}


.file-input {
    background-color: #1e1e1e;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.2s;
    margin-left: 3px;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    font-size: 14px;
    color: white;
}

.file-input:hover {
    background-color: white;
    color: #1e1e1e;
}

.publish-btn {
    width: calc(100vw - 20px);
    height: 50px;
    background-color: #282828;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    top: 440px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    font-family: 'JetBrains Mono', monospace;
}

/*.publish-btn:before {*/
/*    content: "PUBLISH PACKAGE";*/
/*}*/

/*.publish-btn:hover:before {*/
/*    content: ">> PUBLISH PACKAGE <<";*/
/*}*/

.publish-btn:hover {
    background-color: #fff;
    color: #000
}


.textarea-long {
    resize: none;
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: white;
}

.textarea-long::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.textarea-long:focus {
    outline: none;
}

.md-editor-container {
    margin-bottom: 15px;
    padding-right: 10px;
}

.file-input-icon {
    position: relative;
    top: 2px;
    right: 6px;
}

.upload-section {
    overflow: scroll;
    white-space: nowrap;
    height: 33px;
    padding-top: 7px;
    margin-top: -10px;
    margin-bottom: -10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.upload-section::-webkit-scrollbar {
    display: none;
}

.create-package-interest-data {
    font-size: 17px;
    font-weight: 600;
    color: white;
    margin-top: -10px;
}

.create-package-interest-div {
    position: relative;
    margin-right: 150px;
    padding: 0;
    width: calc(100vw - 20px);
    margin-top: -15px;
}

.interestpkg {
    display: inline-block;
    background-color: #282828;
    color: white;
    text-align: center;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.225s;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.interestpkg:first-child {
    margin-left: 0 !important;
}

.interestpkg:nth-child(6n + 1) {
    clear: left;
}

.interestpkg:hover {
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 650px) {
    .md-editor-container {
        position: relative;
        padding-right: 0;
        margin-left: -15px;
        width: calc(100vw - 15px);
    }

    .publish-btn {
        margin-left: calc(50vw - 207px);
    }
}

@media screen and (max-width: 650px) and (min-width: 580px) {
    .upload-section {
        position: relative;
        left: 50%;
        transform: translateX(-51.5%);
        width: fit-content;
    }
}

@media screen and (min-width: 390px) {
    .publish-btn {
        width: 370px;
    }
    .centered {
        margin-left: 15px;
    }
}