.split {
    position: absolute;
    padding: 0;
    left: 0;
    top: 30px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.split-one {
    float: left;
    width: 65%;
    z-index: -1;
}

.split-two {
    float: right;
    width: 35%;
    background-color: #161C5B;
    height: 113%;
    right: 0;
    top: 0;
    z-index: -1;
}

.split-two-card {
    position: fixed;
    top: calc(50% - 75px);
    right: 4%;
    width: fit-content;
}


.centered h2 {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
}

.about-title-card {
    display: none;
}

.about-title {
    position: relative !important;
    left: 0 !important;
    width: 153.2% !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    text-align: center !important;
    font-size: 7vw;
}

@media screen and (orientation: landscape) and (max-height: 400px) {
    .about-title {
        font-size: 60px !important;
    }
}

@media screen and (max-width: 800px) {
    .about-title {
        font-size: 10vw;
        margin-bottom: revert !important;
    }
}

@media screen and (max-width: 1660px) {
    .split-two-card {
        right: 3%
    }
}

@media screen and (max-width: 1570px) {
    .split-two-card {
        right: 2%
    }
}

@media screen and (max-width: 1455px) {
    .split-one {
        float: none;
        display: block;
        width: 100vw;
        left: 0;
        overflow: hidden;
    }

    .split-two {
        float: none;
        display: block;
        width: 100%;
        height: fit-content;
        margin-bottom: 15px;
    }

    .split-two-card {
        position: relative;
        left: calc(50% - 240px);
    }

    .about-title {
        display: none;
        width: 100% !important;
    }

    .about-title-card {
        display: block !important;
    }
}


.proto-input {
    font-size: 15px !important;
    font-family: "JetBrains Mono", monospace !important;
    border: solid 1px #2d2d2d !important;
    background-color: rgba(24, 24, 24, 0.75) !important;
    color: white !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px !important;
    /*padding-right: 75px;*/
    width: 70%;
    position: relative !important;
    top: -3px !important;
}

@media screen and (min-width: 600px) {
    .proto-input {
        width: 410px;
    }
}

.proto-input:focus {
    border: solid 1px white !important;

}

.proto-input::placeholder {
    color: #ababab !important;
}

.name-input-label {
    font-size: 20px;
    margin-left: 5px;
    font-weight: 700;
}

.name-input-label-desc {
    position: relative;
    top: -5px;
    font-size: 14px;
    left: 5px;
}


.name-input {
    font-size: 70px !important;
    font-weight: bold;
    background-color: transparent !important;
    font-family: 'JetBrains Mono', monospace;
    border: 0 !important;
    outline: 0 !important;
    color: white;
    width: 100%;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
}

.name-input::placeholder {
    color: rgba(255, 255, 255, 0.25) !important;
}

.name-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25) !important;
}

#catch-input {
    margin-bottom: 10px;
}

.desc-input {
    font-size: 35px !important;
    font-weight: bold !important;
    background-color: transparent !important;
    font-family: 'JetBrains Mono', monospace;
    border: 0 !important;
    outline: 0 !important;
    color: white;
    width: 100%;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
}

.name-input:focus {
    box-shadow: none !important;
    border: none !important;
}

.desc-input::placeholder {
    color: rgba(255, 255, 255, 0.25) !important;
}

.desc-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25) !important;
}

.img-input {
    font-size: 30px;
    font-weight: bold !important;
    background-color: transparent;
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    outline: 0;
    color: white;
    width: 100%;
    padding: 0;
}

.img-input::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.img-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.25);
}


.file-input-label {
    background-color: #1e1e1e;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.2s;
    margin-left: 3px;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    font-size: 14px;
    color: white;
}


.publish-btn {
    width: calc(100vw - 20px);
    height: 50px !important;
    font-size: 16px !important;
    top: 440px !important;
}

/*.publish-btn:before {*/
/*    content: "PUBLISH PACKAGE";*/
/*}*/

/*.publish-btn:hover:before {*/
/*    content: ">> PUBLISH PACKAGE <<";*/
/*}*/

.publish-btn:hover {
    background-color: #fff;
    color: #000
}


.textarea-long {
    resize: none;
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: white;
}

.textarea-long::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.textarea-long:focus {
    outline: none;
}

.md-editor-container {
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 10px;
}

.md-editor {
    border-radius: 4px;
    border: none;
    outline: none;
}

@media screen and (min-width: 800px) {
    .md-editor-container {
        width: 750px;
    }
}

.file-input-icon {
    position: relative;
    top: 2px;
    right: 6px;
}

.upload-section {
    overflow: scroll;
    white-space: nowrap;
    height: 33px;
    padding-top: 7px;
    margin-top: -3px;
    margin-bottom: -10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media screen and (max-width: 400px) {
    .upload-section:not(.snippet-upload-section) {
        margin-top: -10px;
        white-space: normal;
        line-height: 40px;
        height: 80px;
    }
}

.upload-section::-webkit-scrollbar {
    display: none;
}

.create-package-interest-data {
    font-size: 18px;
    font-weight: 400 !important;
    font-family: "JetBrains Mono", monospace;
    color: white;
    margin-top: -10px;
}

.create-package-interest-div {
    position: relative;
    margin-right: 150px;
    padding: 0;
    width: calc(100vw - 20px);
    margin-top: -15px;
}

#pkg-version, #snippet-version {
    margin-top: 0;
}

.interestpkg {
    display: inline-block;
    /*background-color: #282828;*/
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    text-align: center;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.interestpkg:first-child {
    margin-left: 0 !important;
}

.interestpkg:nth-child(6n + 1) {
    clear: left;
}

@media (hover: hover) and (pointer: fine) {
    /*.interestpkg:hover {*/
    /*    background-color: #fff;*/
    /*    color: #000;*/
    /*}*/

    .file-input-label:hover {
        background-color: white;
        color: #1e1e1e;
    }
}


@media screen and (max-width: 650px) {
    /*.md-editor-container {*/
    /*    position: relative;*/
    /*    padding-right: 0;*/
    /*    margin-left: -15px;*/
    /*    width: calc(100vw);*/
    /*}*/
    .publish-btn {
        margin-left: 50%;
        transform: translate(-50%);
    }
}

@media screen and (max-width: 650px) and (min-width: 580px) {
    /*.upload-section {*/
    /*    position: relative;*/
    /*    left: 50%;*/
    /*    transform: translateX(-51.5%);*/
    /*    width: fit-content;*/
    /*}*/
}

@media screen and (max-width: 565px) {
    .split-two-card {
        display: none;
    }

    .about-title {
        display: block;
    }

    .about-title-card {
        display: none !important;
    }
}

@media screen and (min-width: 390px) {
    .publish-btn {
        width: 380px;
    }

    .centered {
        margin-left: 15px;
    }
}