dialog {
    width: 50%;
    padding: 15px;
    padding-right: 5px;
    /*border: 0;*/
    /*outline: 0;*/
    /*background-color: rgba(255, 255, 255, 0.15);*/
    /*backdrop-filter: blur(100px);*/
    /*-webkit-backdrop-filter: blur(100px);*/
    /*border-radius: 8px;*/
    transition: .2s;
    background: rgba(103, 120, 255, 0.25) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    border-radius: 10px !important;
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
    overflow: hidden;
}

dialog h4 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 24px;
    text-align: center;
}

dialog input {
    border: 0;
    outline: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: transparent;
    color: white !important;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 15px;
    position: relative;
    top: -30px;
}

dialog input::placeholder {
    color: #b4b4b4;
}

dialog p {
    font-family: 'JetBrains Mono', monospace;
    margin-top: -3px;
}

dialog button {
    background-color: white;
    padding: 10px 50px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    font-size: 14px;
    color: #1e1e1e;
    border: 0;
    outline: 0;
    margin-left: 50%;
    transform: translate(-50%);
}

dialog button:hover {
    background-color: black;
    color: white;
}

.dialog-save-reminder {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.edit-snippet-title {
    height: 60px;
    width: 90%;
    font-size: 25px;
}

.edit-code-editor {
    width: 293px;
}

/*.delete-snippet-btn {*/
/*    text-align: center;*/
/*    padding-left: 25px;*/
/*}*/

@media screen and (max-width: 800px) {
    dialog {
        width: 95%;
        padding-right: 2px;
    }
}