.feedback-input {
    font-size: 14px !important;
    margin-top: 50px !important;
    resize: none;
    height: 215px !important;
    padding: 9px !important;
    width: 303px !important;
}

.feedback-submit {
    position: relative;
    margin-top: 325px;
    width: 323px !important;
}

.feedback-container {
    height: fit-content;
    width: fit-content;
    margin-left: 50%;
    transform: translate(-50%);
}