/*@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&family=Source+Code+Pro:wght@600;900&display=swap');*/
:root {
    /* color palette */
    --text: white;
    --text-accent: #FAEBD7;
    --text-label: #bbbbbb;
    --text-label-accent: #575757;

    --background: #161C5B;

    --btn-text: white;
    --primary: #282828;
    --secondary: #ebf1ff;

    --link: dodgerblue;
    --link-hover: #0058ab;

    --btn-red: rgba(255, 0, 0, 0.8);
    --btn-red-hover: darkred;

    font-family: 'JetBrains Mono', 'Source Code Pro', monospace;
    line-height: 1.5;
    font-weight: 400;
    color: white;
    /*background-color: #161C5B;*/
    background-color: var(--background);
    /*background-image: radial-gradient(at 22% 68%, rgb(0, 0, 0) 0, transparent 97%), radial-gradient(at 96% 5%, rgb(126, 34, 206) 0, transparent 84%), radial-gradient(at 17% 34%, rgb(55, 48, 163) 0, transparent 42%), radial-gradient(at 33% 33%, rgb(28, 25, 23) 0, transparent 62%), radial-gradient(at 71% 34%, rgb(30, 58, 138) 0, transparent 50%), radial-gradient(at 14% 98%, rgb(67, 56, 202) 0, transparent 57%);*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    z-index: -9999;
}


button.primary {
    width: 325px;
    height: 40px;
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--btn-text);
    font-size: 14px;
    cursor: pointer;
    transition: .2s linear;
    border: 0;
    outline: 0;
    font-weight: 800;
    font-family: "JetBrains Mono", monospace;
}

.secondary {
    background-color: white;
    transition: 0.2s;
    color: #1e1e1e;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}

input[type="text"], input[type="email"], input[type="password"], .feedback-input {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.15s;
    color: white !important;
    font-family: "JetBrains Mono", monospace;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, .feedback-input:focus {
    border: 1px solid white;
    outline: 0;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder, .feedback-input::placeholder {
    color: #b4b4b4;
}

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, .feedback-input::-webkit-input-placeholder {
    color: #b4b4b4;
}


@media (hover: hover) and (pointer: fine) {
    button.primary:hover {
        background-color: #fff;
        color: #000
    }

    .secondary:hover {
        background-color: #282828;
        color: white;
    }

    input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, .feedback-input:hover {
        background: rgba(154, 154, 154, 0.15);
    }
}

::selection {
    background-color: #002bff;
    color: #ffffff;
}
