#account,#hamburger{
    right:20px
}
#hamburger, .nav h2 {
    cursor: pointer;
    z-index: 5000;
    position: fixed
}

#full-nav, #full-nav-account, #hamburger, #nav-title, .nav h2, .nav h4 {
    position: fixed
}

#full-nav, #full-nav ul {
    top: 0;
    width: 100%;
    margin: 0
}

#full-nav-account, #full-nav-account ul {
    top: 0;
    width: 100%;
    margin: 0
}

#full-nav ul li, #hamburger {
    font-size: 28px;
    font-weight: 700
}

#full-nav-account ul li, #hamburger {
    font-size: 28px;
    font-weight: 700
}

.nav h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    font-size: 40px;
    margin: 0;
    left: 20px
}
.nav h4{
    margin:0;
    top:26px;
    font-weight:700;
    font-size:16px;
    color:rgba(255,255,255,.75);
    cursor:pointer;
    transition:.2s
}
.nav h4:hover{
    color:#fff
}
#nav-title{
    top:8px
}
#code-blocks{
    right:359px
}
#packages{
    right:262px
}
#pricing{
    right:175px
}
#about{
    right:107px
}
#hamburger{
    visibility:hidden;
    margin:0;
    top:16px
}

#full-nav {
    left: -100%;
    height: 200%;
    z-index: 3000;
    transition: left .3s ease-in-out;
    background-color: #080d2b
}

#full-nav-account {
    left: -100%;
    height: 200%;
    z-index: 3000;
    transition: left .3s ease-in-out;
    background-color: #080d2b
}

#full-nav ul {
    list-style-type: none;
    position: relative;
    left: 0;
    height: fit-content;
    padding-left: 0;
    padding-top: calc((100vh / 2) - (390px / 2))
}

#full-nav-account ul {
    list-style-type: none;
    position: relative;
    left: 0;
    height: fit-content;
    padding-left: 0;
    padding-top: calc((100vh / 2) - (390px / 2))
}

#full-nav ul li {
    text-align: center
}

#full-nav-account ul li {
    text-align: center
}

#full-nav ul li:not(:last-child) {
    margin-bottom: 20px
}

#full-nav-account ul li:not(:last-child) {
    margin-bottom: 20px
}


@media screen and (max-width: 670px) {
    #about {
        visibility: hidden
    }

    #pricing {
        right: 107px
    }

    #packages {
        right: 194px
    }
    #code-blocks{
        right:291px
    }
}
@media screen and (max-width:600px){
    #about,#account,#code-blocks,#packages,#pricing{
        visibility:hidden
    }
    #hamburger{
        visibility:visible
    }
}