.banner{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 334px;
    --banner_url: url("https://brew.sh/assets/img/homebrew-social-card.png");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 27.6%, rgba(0, 0, 0, 0) 100%), var(--banner_url) center center/cover;
    z-index: -1;
    margin: 0;
    padding: 0;
    background-position: center center;
}
.package-author,.package-description,.package-description-label,.package-screenshots,.package-screenshots-label,.package-title{
    left:15px;
    position:absolute
}
.package-title{
    font-weight: 700;
    font-size: 55px;
    top: 337px;
    margin: 0;
    padding: 0;
    width: calc(100% - 15px);
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.package-title::-webkit-scrollbar {
    display: none;
}

.package-author {
    font-size: 20px;
    top: 415px;
    margin: 0;
    padding: 0;
    color: #b9b9b9
}
.package-description-label{
    top:467px;
    color:#b9b9b9;
    margin:0;
    padding:0
}
.package-description{
    margin-top: 0;
    top: 476px;
    width: calc(100% - 15px - 75px - 220px - 20px);
    height: 200px;
    overflow-y: scroll;
    padding-top: 0;
}
.package-screenshots-label{
    top:710px;
    color:#b9b9b9
}
.package-screenshots-label:after{
    content: '// 03 - GALLERY'
}
.package-screenshots{
    top:755px;
    margin:0;
    padding:0;
    width:calc(100% - 15px);
    overflow:scroll;
    white-space:nowrap;
    scroll-snap-type: x mandatory
}
.package-img {
    border-radius: 8px;
    height: calc(444px / 16 * 9);
    width: 444px;
    object-fit: cover;
    scroll-snap-align: start;
    cursor: pointer;
}
.package-characteristics-label{
    position:absolute;
    top:467px;
    right:75px;
    color:#b9b9b9;
    margin:0;
    padding:0
}
.package-characteristics-label:after{
    content:'// 02 - CHARACTERISTICS'
}
.package-characteristics{
    position:absolute;
    top:476px;
    right:75px
}
.package-download-btn{
    position: fixed;
    right: 16px;
    bottom: 16px;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: #000;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 20px 28px 20px 20px;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
    z-index: 10;
    transform-origin: center center;
    border-radius: 8px;
    overflow: hidden;
}

.package-download-btn:hover {
    background-color: #fff;
    color: #000;
    scale: 1.25;
    border-radius: 8px;
    right: 32px;
}


.rate_btn {
    cursor: pointer;
}

.rate_btn:hover {
    text-decoration: underline;
}

.rating_input {
    width: 50px;
    border: solid 1px white;
    color: white;
    outline: 0;
    -moz-appearance: textfield;
    height: 22px;
    background-color: transparent;
    border-radius: 2px;
    padding: 0 0 0 5px;
    font-family: 'JetBrains Mono', monospace;


}

.rating_input::-webkit-outer-spin-button, .rating_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rating_done_btn {
    width: 200px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    color: #282828;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
    transition: .2s linear;
    border: 0;
    outline: 0;
    font-family: "JetBrains Mono", monospace;
    margin-top: 5px;
    margin-bottom: 10px;
}

.rating_done_btn:hover {
    background-color: #282828;
    color: white
}


.screenshot_full_close {
    position: fixed;
    top: 25px;
    left: 25px;
    font-family: "JetBrains Mono", monospace;
    color: white;
    z-index: 9999;
    font-size: 25px;
    margin: 0;
    padding: 0;
    transition: 0.15s;
    cursor: pointer;
}

.screenshot_full_close:hover {
    color: #b4b4b4;
}

.screenshot_bg_div {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media screen and (max-width: 1250px) {
    .package-characteristics-label {
        left: 15px;
        top: 1300px
    }

    .package-characteristics-label:after {
        content: '// 03 - CHARACTERISTICS'
    }

    .package-screenshots-label:after {
        content: '// 02 - GALLERY'
    }

    .package-characteristics {
        left: 15px;
        top: 1310px;
    }

    .package-description {
        width: 83.9vw
    }
}

@media screen and (max-width: 915px) {
    #screenshotbreak {
        display: none;
    }

    .package-characteristics-label {
        left: 15px;
        top: 1040px
    }

    .package-characteristics {
        left: 15px;
        top: 1050px;
    }

}

@media screen and (max-width: 905px) {
    .package-description, .package-screenshots {
        width: calc(100% - 15px)
    }
}

@media screen and (max-width: 475px) {
    .package-img {
        width: calc(100% - 15px);
        scroll-snap-align: start;
        scroll-snap-type: x mandatory
    }
}

/*@media screen and (max-width:475px){*/
/*    .package-img{*/
/*        border-radius:8px;*/
/*        height:calc((100% - 15px)/ 16 * 9);*/
/*        width: calc(100% - 15px);*/
/*        object-fit: cover;*/
/*        scroll-snap-align: start*/
/*    }*/

/*    .package-characteristics-label {*/
/*        top: 995px*/
/*    }*/

/*    .package-characteristics {*/
/*        top: 1005px;*/
/*    }*/

/*    .bottom-block {*/
/*        height: 40px;*/
/*        width: 10%;*/
/*        left: 0;*/
/*        position: absolute;*/
/*        top: 1140px;*/
/*    }*/
/*}*/