.banner {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 334px;
    --banner_url: url("https://brew.sh/assets/img/homebrew-social-card.png");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 27.6%, rgba(0, 0, 0, 0) 100%), var(--banner_url) center center/cover;
    z-index: -1;
    margin: 0;
    padding: 0;
    background-position: center center;
}

.package-author, .package-description, .package-description-label, .package-screenshots, .package-screenshots-label, .package-title {
    left: 15px;
    position: absolute
}

.package-author-link {
    color: #b9c9ff;
    text-decoration: none;
    transition: 0.2s;
}

.package-author-link:hover {
    color: white;
}

.package-title {
    font-weight: 700;
    font-size: 55px;
    top: 337px;
    margin: 0;
    padding: 0;
    width: calc(100% - 15px);
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.package-title::-webkit-scrollbar {
    display: none;
}

.package-author {
    font-size: 20px;
    top: 415px;
    margin: 0;
    padding: 0;
    color: #b9b9b9
}

.package-description-label {
    top: 467px;
    color: #b9b9b9;
    margin: 0;
    padding: 0
}

.package-description {
    margin-top: 17px;
    top: 476px;
    width: calc(100% - 15px - 75px - 220px - 20px);
    height: 300px;
    overflow-y: scroll;
    padding-top: 0;
}

.package-screenshots-label {
    top: 810px;
    color: #b9b9b9
}

.package-screenshots-label:after {
    content: '// 03 - GALLERY'
}

.package-screenshots {
    top: 855px;
    margin: 0;
    padding: 0;
    width: calc(100% - 15px);
    overflow: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory
}

.package-img {
    border-radius: 8px;
    height: calc(444px / 16 * 9);
    width: 444px;
    object-fit: cover;
    scroll-snap-align: start;
    cursor: pointer;
}

.package-characteristics-label {
    position: absolute;
    top: 467px;
    left: 77.778vw;
    color: #b9b9b9;
    margin: 0;
    padding: 0
}

.package-characteristics-label:after {
    content: '// 02 - CHARACTERISTICS'
}

.package-characteristics {
    width: fit-content;
    max-width: 100%;
    position: absolute;
    top: 476px;
    left: 77.778vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.package-download-btn {
    position: fixed;
    right: 16px;
    bottom: 16px;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: #000;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 20px 28px 20px 20px;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
    z-index: 10;
    transform-origin: center center;
    border-radius: 8px;
    overflow: hidden;
}

.package-edit-btn {
    background-color: white !important;
    color: black !important;
    padding: 15px 30px !important;
    right: 15px !important;
    bottom: 15px !important;
    transform-origin: bottom right !important;
    border: 0 !important;
    cursor: pointer !important;
    transition: 0.3s !important;
}

.package-edit-btn:hover {
    background-color: black !important;
    color: white !important;
}

.package-download-btn:hover {
    background-color: #fff;
    color: #000;
    scale: 1.25;
    border-radius: 8px;
    right: 32px;
}


.rate_btn {
    cursor: pointer;
}

.rate_btn:hover {
    text-decoration: underline;
}

.rating_input {
    width: 50px;
    border: solid 1px white;
    color: white;
    outline: 0;
    -moz-appearance: textfield;
    height: 22px;
    background-color: transparent;
    border-radius: 2px;
    padding: 0 0 0 5px;
    font-family: 'JetBrains Mono', monospace;


}

.rating_input::-webkit-outer-spin-button, .rating_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.rating_done_btn {
    width: 200px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    color: #282828;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
    transition: .2s linear;
    border: 0;
    outline: 0;
    font-family: "JetBrains Mono", monospace;
    margin-top: 5px;
    margin-bottom: 10px;
}

.rating_done_btn:hover {
    background-color: #282828;
    color: white
}


.screenshot_full_close {
    position: fixed;
    top: 25px;
    left: 25px;
    font-family: "JetBrains Mono", monospace;
    color: white;
    z-index: 9999;
    font-size: 25px;
    margin: 0;
    padding: 0;
    transition: 0.15s;
    cursor: pointer;
    display: none;
}

.screenshot_full_close:hover {
    color: #b4b4b4;
}

.screenshot_bg_div {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
}

.screenshot_bg_div img {
    position: fixed;
    max-width: 90%;
    max-height: 90%;
    z-index: 9999;
    opacity: 0;
    transition: opacity 1s !important;
    object-fit: cover;
}

.full-img-shown {
    opacity: 1 !important;
}

.package-desc-md {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: Inter, sans-serif;
    color: white;
}

.package-download-side {
    background-color: #1e1e1e;
    padding: 10px 40px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    font-size: 15px;
    color: white;
    outline: 0;
    border: 0;
    display: none;
    margin-top: 10px;
}

.package-download-side:hover {
    background-color: white;
    color: #1e1e1e;
}

.current-ver {
    width: 80px;
    white-space: break-spaces;
}

@media screen and (max-width: 1250px) {
    .package-characteristics-label {
        top: 1400px;
        left: 15px;
    }

    .package-characteristics-label:after {
        content: '// 03 - CHARACTERISTICS'
    }

    .package-screenshots-label:after {
        content: '// 02 - GALLERY'
    }

    .package-characteristics {
        top: 1410px;
        left: 15px;
    }

    .package-description {
        width: 83.9vw
    }
}

@media screen and (max-width: 915px) {
    #screenshotbreak {
        display: none;
    }

    .package-characteristics-label {
        top: 1140px
    }

    .package-characteristics {
        top: 1150px;
    }

}

@media screen and (max-width: 905px) {
    .package-screenshots {
        width: calc(100% - 15px)
    }

    .package-description {
        width: calc(100% - 30px)
    }

    .screenshot_full_close {
        top: 10px;
        left: 15px;
    }
}

@media screen and (max-width: 475px) {
    .package-img {
        width: calc(100% - 15px);
        scroll-snap-align: start;
        scroll-snap-type: x mandatory
    }
}