.banner {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 334px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.35) 97.4%), url("https://brew.sh/assets/img/homebrew-social-card.png") center center;
    background-size: cover;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.package-title {
    font-weight: 700;
    font-size: 55px;
    position: absolute;
    top: 337px;
    left: 15px;
    margin: 0;
    padding: 0;
}

.package-author {
    font-size: 20px;
    position: absolute;
    top: 415px;
    left: 15px;
    margin: 0;
    padding: 0;
    color: #B9B9B9;
}

.package-description-label {
    position: absolute;
    top: 467px;
    left: 15px;
    color: #B9B9B9;
    margin: 0;
    padding: 0;
}

.package-description {
    position: absolute;
    top: 476px;
    left: 15px;
    width: calc(100% - 15px - 75px - 220px - 20px);
    height: 200px;
    overflow-y: scroll;
}

.package-screenshots-label {
    position: absolute;
    top: 710px;
    left: 15px;
    color: #B9B9B9;
}


.package-screenshots {
    position: absolute;
    top: 755px;
    margin: 0;
    left: 15px;
    padding: 0;
    width: calc(100% - 15px);
    overflow: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.package-img-one {
    border-radius: 8px;
    height: calc(444px / 16 * 9);
    width: 444px;
    object-fit: cover;
    scroll-snap-align: start;
}

.package-img-two {
    border-radius: 8px;
    height: calc(444px / 16 * 9);
    width: 444px;
    object-fit: cover;
    margin-left: 25px;
    scroll-snap-align: start;
}

.package-img-three {
    border-radius: 8px;
    height: calc(444px / 16 * 9);
    width: 444px;
    object-fit: cover;
    margin-left: 25px;
    scroll-snap-align: start;
}

.package-img-four {
    border-radius: 8px;
    height: calc(444px / 16 * 9);
    width: 444px;
    object-fit: cover;
    margin-left: 25px;
    scroll-snap-align: start;
    margin-right: 15px;
}

.package-characteristics-label {
    position: absolute;
    top: 467px;
    right: 75px;
    color: #B9B9B9;
    margin: 0;
    padding: 0;
}

.package-characteristics {
    position: absolute;
    top: 476px;
    right: 75px;
}

@media screen and (max-width: 1250px) {
    .package-characteristics-label {
        left: 15px;
        top: 1040px;
    }

    .package-characteristics {
        left: 15px;
        top: 1050px;
    }

    .package-description {
        width: 83.9vw;
    }
}

@media screen and (max-width: 905px) {
    .package-description {
        width: calc(100% - 15px);
    }

    .package-screenshots {
        width: calc(100% - 15px);
    }
}

@media screen and (max-width: 475px) {
    .package-img-one {
        border-radius: 8px;
        height: calc((100 - 15px) / 16 * 9);
        width: calc(100% - 15px);
        object-fit: cover;
        scroll-snap-align: start;
    }

    .package-img-two {
        border-radius: 8px;
        height: 250px;
        width: calc(100% - 15px);
        object-fit: cover;
        scroll-snap-align: start;
        margin-left: 25px;
    }

    .package-img-three {
        border-radius: 8px;
        height: 250px;
        width: calc(100% - 15px);
        object-fit: cover;
        scroll-snap-align: start;
        margin-left: 25px;
    }

    .package-img-four {
        border-radius: 8px;
        height: 250px;
        width: calc(100% - 15px);
        object-fit: cover;
        scroll-snap-align: start;
        margin-left: 25px;
    }
}