.packages-title{
    font-size:7.5vw;
    padding-left:20px;
    margin-bottom:0;
    padding-bottom:0
}
.packages-card-list{
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0 0 0 20px;
    height: fit-content;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    overflow-x: scroll
}
.packages-card-list>li{
    display:inline-block
}
.packages-card-list li{
    height:fit-content;
    scroll-snap-align:start
}
.category-title{
    padding-left:20px
}
@media screen and (max-width:600px){
    .packages-title{
        font-size:13vw
    }
}
@media screen and (max-width:560px){
    .category-title,.packages-card-list,.packages-title{
        padding-left:10px
    }
}
@media screen and (max-width:400px){
    .packages-title{
        font-size:17vw
    }
}
.packages-card-list li:not(:last-child){
    margin-right:35px
}
.packages-card-list::-webkit-scrollbar{
    display:none
}