.card, .card-author, .card-title {
    position: relative;
    padding: 0
}
@keyframes bg-infinite {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

.card {
    height: 334px;
    width: 468px;
    border-radius: 14px;
    cursor: pointer;
    --url_img: url("https://brew.sh/assets/img/homebrew-social-card.png");
    background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) 0 0/cover, var(--url_img) center center/cover;
    /*transition: .2s;*/
}

.card:hover {
    animation: bg-infinite 30s infinite linear;
    /*transition: .2s background-position;*/
}

.card:hover > .card-read-more {
    color: rgba(255, 255, 255, .5)
}

.card:hover > .card-title {
    color: #fff
}

.card:hover > .card-read-more:after {
    content: '> READ MORE'
}

.card-title {
    font-size: 32px;
    font-weight: 500;
    left: 15px;
    top: 8px;
    margin: 0;
    color: #ffebcd;
    transition: .2s
}

.card-author {
    top: 10px;
    left: 15px;
    margin: 0;
    color: #b9b9b9;
    font-size: 20px;
    font-weight: 400
}

.card-downloads {
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
    padding: 0
}

.card-description {
    font-size: 18px;
    line-height: 22px;
    position: relative;
    width: calc(100% - 38px);
    height: 200px;
    left: 15px;
    padding-right: 5px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    white-space: normal
}

.card-read-more {
    color: rgba(255, 255, 255, .25);
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    position: relative;
    left: 15px;
    bottom: 15px;
    transition: .2s
}

.card-read-more:after {
    content: '+ READ MORE'
}

@media screen and (max-width: 560px) {
    .card {
        width: 92vw
    }

    .card-description {
        width: calc(92vw - 15px)
    }
}