.packages-title {
    font-size: 7.5vw;
    padding-left: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.packages-card-list {
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0 0 0 20px;
    height: fit-content;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    overflow-x: scroll
}

.packages-card-list > li {
    display: inline-block;
    margin-right: 15px !important;
}

.packages-card-list li {
    height: fit-content;
    scroll-snap-align: start
}

.category-title {
    padding-left: 20px
}

.search-btn {
    position: relative;
    left: 25px;
    top: -20px;
    padding: 10px 20px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 13px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

@media (hover: hover) and (pointer: fine) {
    .search-btn:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}



@media screen and (min-width: 1860px) {
    .packages-title {
        font-size: 6vw !important
    }
}

@media screen and (min-width: 1730px) {
    .packages-title {
        font-size: 7vw
    }
}

@media screen and (max-width: 870px) {
    .packages-title {
        font-size: 10vw
    }
}

@media screen and (max-width: 690px) {
    .packages-title {
        font-size: 12vw
    }
}

@media screen and (max-width: 600px) {
    .packages-title {
        font-size: 13vw
    }
}

@media screen and (max-width: 560px) {
    .category-title, .packages-card-list, .packages-title {
        padding-left: 10px
    }

    .search-btn {
        left: calc(50% - 50vw + 20px);
    }
}

@media screen and (max-width: 450px) {
    .packages-title {
        font-size: 15vw
    }
}

@media screen and (max-width: 430px) {
    #package-publish-btn {
        top: -16px;
    }

    #package-search-btn {
        display: block;
        left: 1px;
        top: -4px;
        width: fit-content;
    }
}

@media screen and (max-width: 420px) {
    .packages-title {
        font-size: 17vw
    }
}

.packages-card-list li:not(:last-child) {
    margin-right: 35px
}

.packages-card-list::-webkit-scrollbar {
    display: none
}