.pkg-item-container {
    width: 700px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.pkg-item-container:hover {
    background-color: white;
}

.pkg-item-container:hover .pkg-item-desc {
    color: #464646;
}

.pkg-item-container:hover .pkg-item-downloads {
    color: black;
}

.pkg-item-container img {
    width: 100px;
    height: 70px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    left: 5px;
    border-radius: 5px;
    transition: 0.3s;
    object-position: center center;
    object-fit: cover;
}

.pkg-item-title {
    position: relative;
    margin: 0;
    top: -68px;
    color: black;
    left: 115px;
    font-weight: 600;
    width: fit-content;
}

.pkg-item-desc {
    position: relative;
    width: 550px;
    left: 115px;
    top: -83px;
    height: 40px;
    /*color: #464646;*/
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    transition: 0.3s;
    overflow: scroll;
}

.pkg-item-downloads {
    position: relative;
    top: -168px;
    left: 629px;
    width: fit-content;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.2s;
}

.pkg-item-downloads svg {
    position: relative;
    top: 6px;
    scale: 0.7;
    left: 10px;
}