.packages-title {
    font-size: 7.5vw;
    padding-left: 20px;
    margin-bottom: 0;
    padding-bottom: 0
}

.packages-card-list {
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0 0 0 20px;
    height: fit-content;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    overflow-x: scroll
}

.packages-card-list > li {
    display: inline-block
}

.packages-card-list li {
    height: fit-content;
    scroll-snap-align: start
}

.category-title {
    padding-left: 20px
}

.package-publish-btn {
    background-color: white;
    transition: 0.2s;
    color: #1e1e1e;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    position: relative;
    left: 25px;
    top: -20px;
    margin: 0;
    cursor: pointer;
}

.package-publish-btn:hover {
    background-color: #282828;
    color: white;
    /*scale: 1.05;*/
}

@media screen and (max-width: 870px) {
    .packages-title {
        font-size: 10vw
    }
}

@media screen and (max-width: 690px) {
    .packages-title {
        font-size: 12vw
    }
}

@media screen and (max-width: 600px) {
    .packages-title {
        font-size: 13vw
    }
}

@media screen and (max-width: 560px) {
    .category-title, .packages-card-list, .packages-title {
        padding-left: 10px
    }

    .package-publish-btn {
        left: calc(50% - 50vw + 20px);
    }
}

@media screen and (max-width: 450px) {
    .packages-title {
        font-size: 15vw
    }
}

@media screen and (max-width: 430px) {
    #package-publish-btn {
        top: -16px;
    }

    #package-search-btn {
        display: block;
        left: 1px;
        top: -10px;
    }
}

@media screen and (max-width: 420px) {
    .packages-title {
        font-size: 17vw
    }
}

.packages-card-list li:not(:last-child) {
    margin-right: 35px
}

.packages-card-list::-webkit-scrollbar {
    display: none
}