.pricing-title {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
}

.pricing-subtitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
    color: #a8a8a8;
    width: 600px;
    margin-left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 600px) {
    .pricing-subtitle {
        width: 100%;
    }
}

.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-plan {
    background-color: #2d2b57;
    width: 320px;
    height: 260px;
    border-radius: 14px;
    outline: 1px solid white;
    margin-right: 25px;

}

.pro-plan {
    background-color: #2d2b57;
    width: 320px;
    height: 260px;
    border-radius: 14px;
    outline: 2px solid mediumpurple;
    margin-left: 25px;
    box-shadow: 0 0 100px 20px #2d2b57;
    -webkit-box-shadow: 0 0 100px 20px #2d2b57;
}

.plan-title {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
    color: white;
}

.plan-price {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -15px;
    margin-bottom: 40px;
    color: cornflowerblue;
}

.plan-features {
    font-size: 16px;
    color: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.plan-sign-up {
    font-size: 16px;
    font-weight: 600;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
    color: white;
    border: 0;
    outline: 0;
    background-color: #282828;
    width: 125px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s;
    margin-left: calc(50% - 63px);
}

.plan-sign-up:hover {
    background-color: white;
    color: black;
}

.plan-subscribe {
    font-size: 16px;
    font-weight: 600;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
    color: white;
    border: 0;
    outline: 0;
    background-color: #282828;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
    margin-left: calc(50% - 75px);
}

.plan-subscribe:hover {
    background-color: white;
    color: black;
}

.pricing-parentsubtitle {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px;
    color: white;
    font-size: 16px;
}

.pricing-exp-title {
    text-align: center;
    font-size: 35px;
    margin: 0;
}

.pricing-exp-plan {
    margin-top: 5px;
    text-align: center;
    /*padding-right: 50px;*/
    font-size: 22px;
}

.pricing-exp-plan-characteristics {
    text-align: left;
    height: fit-content;
    font-weight: 400;
    color: #737373;
    font-size: 16px;
    position: relative;
    left: 0;
    width: calc(100% - 50px);
    padding-left: 2.5vw;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

}

.pricing-exp-plan-characteristics-title {
    font-weight: 800;
    color: white;
    font-size: 21px;
}

@media screen and (max-width: 770px) {
    .pricing-container {
        flex-direction: column;
    }

    .basic-plan {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .pro-plan {
        margin-left: 0;
        margin-top: 25px;
    }
}