.signup-button, .txt-input {
    outline: 0;
    font-family: 'JetBrains Mono', monospace;
    position: absolute;
    margin: 0 0 0 calc(50% - 170px)
}

.signup-title {
    font-size: 50px;
    text-align: center
}

.txt-input {
    border: 3px solid transparent;
    width: 300px;
    height: 30px;
    border-radius: 4px;
    transition: .2s;
    background-color: #f8f8ff;
    color: #000;
    padding-left: 15px
}

.txt-input::placeholder {
    color: #000
}

.txt-input:focus {
    border: 3px solid #1e90ff
}

.signup-button {
    width: 325px;
    height: 40px;
    background-color: #282828;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
    top: 485px;
    cursor: pointer;
    transition: .3s ease-in-out
}

.signup-forgot, .signup-signin {
    left: 50%;
    transform: translate(-50%);
    position: relative;
    width: fit-content;
    cursor: pointer;
    transition: .2s
}

.signup-button:hover {
    background-color: #fff;
    color: #000
}

.signup-signin {
    top: -30px;
    color: #1e90ff
}

.signup-forgot:hover, .signup-signin:hover {
    color: #fff
}

.signup-error {
    left: 50%;
    transform: translate(-50%);
    position: relative;
    top: -30px;
    color: #ef0000;
    width: fit-content;
    cursor: pointer;
    visibility: hidden
}

.signup-forgot {
    top: 34px;
    color: #ff4500;
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
}