.signup-button, .txt-input {
    outline: 0;
    font-family: 'JetBrains Mono', monospace;
    position: absolute;
    margin: 0 0 0 calc(50% - 170px)
}

.signup-title {
    font-size: 50px;
    text-align: center
}

.txt-input {
    width: 300px;
    height: 30px;
    font-family: "JetBrains Mono", monospace;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
}

.signup-forgot, .signup-signin {
    left: 50%;
    transform: translate(-50%);
    position: relative;
    width: fit-content;
    cursor: pointer;
    transition: .2s
}

.signup-signin {
    top: -30px;
    color: #1e90ff
}

.signup-error {
    left: 50%;
    transform: translate(-50%);
    position: relative;
    top: -30px;
    color: #ef0000;
    width: fit-content;
    cursor: pointer;
    visibility: hidden
}

.signup-forgot {
    top: 34px;
    color: #ff4500;
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
}

@media (hover: hover) and (pointer: fine) {
    .signup-forgot:hover, .signup-signin:hover {
        color: #fff
    }
}