.snippets-title {
    line-height: 120px;
    margin-bottom: 15px;
}

@media screen and (max-width: 1000px) {
    .snippets-title {
        line-height: 60px;
        margin-top: 70px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 870px) {
    .snippets-title {
        line-height: 65px;
    }
}

@media screen and (max-width: 430px) {
    .snippets-title {
        margin-bottom: 20px;
    }
}